[collector]
MSGrouter={{dynatrace_activegate_oneagent_routing | lower}}

[dbAgent]
dbAgent_enabled={{dynatrace_activegate_db_agent | lower}}

[aws_monitoring]
aws_monitoring_enabled={{dynatrace_activegate_aws | lower}}

[azure_monitoring]
azure_monitoring_enabled={{dynatrace_activegate_azure | lower}}

[cloudfoundry_monitoring]
cloudfoundry_monitoring_enabled={{dynatrace_activegate_cloud_foundry | lower}}

[kubernetes_monitoring]
kubernetes_monitoring_enabled={{dynatrace_activegate_kubernetes | lower}}

[vmware_monitoring]
vmware_monitoring_enabled={{dynatrace_activegate_vmware | lower}}

[rpm]
rpm_enabled={{dynatrace_activegate_rpm | lower}}
