[collector]
MSGrouter=false

[dbAgent]
dbAgent_enabled=false

[aws_monitoring]
aws_monitoring_enabled=true

[azure_monitoring]
azure_monitoring_enabled=true

[cloudfoundry_monitoring]
cloudfoundry_monitoring_enabled=true

[kubernetes_monitoring]
kubernetes_monitoring_enabled=true

[vmware_monitoring]
vmware_monitoring_enabled=true

[rpm]
rpm_enabled=false
